h1{
    border: 2px solid brown;
    padding-left: 48px;
    /* padding-top: 50px; */
    /* padding-bottom: 20px; */
    /* padding-right: 40px; */
    /* padding: 80px; */
    /* margin: 30px; */
    /* margin: 20px 30px; */
    width: 500px;
    margin: 20px;
    background: lightblue
}

