body{
    font-family: 'poppins'/ sans-serif;
    color: #444;
    padding: 0px 40px;
}
a{
    color: #444;
    text-decoration: none;
}
h1, h2, h3{
    color: #222;
}
h2{
    border-bottom: 1pc solid #444;
}

nav{
    background: #cecece;

}
nav ul{
    border: 2px solid green;
    padding-left: 0px ;
    text-align: center;
}

nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid #444;
    margin: 12px 15px;
    font-size: 20px;

}

section{
    margin-top: 50px;
}